# Ignore the data files
*.csv


#Ignore macOS setting files
.DS_Store


#Ignore VScode settings
.vscode

#Ignore test scripts
IO_manager_test.r


#Ignore directories
Backup_folders/
Input_files/
Intermediate_IO/
Output_files/
Raw_input_files/